@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
width: 100vw;
height: 100vh;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

background-image: url('./img/aniversario.jpg');
background-position: center center;
background-size: cover;
color: aliceblue;
}

h1{
font-size: 5rem;
}

main{
display: flex;
background-color: rgba(0, 0, 0, 0.082);
border-radius: 15px;
padding: 30px;
box-shadow: 5px 5px 10px rgb(228, 228, 228);

align-items: center;
justify-content: center;
font-weight: bold;
backdrop-filter: blur(10px);
}

.contador-elemento{
text-align: center;
margin: 5px;
}

.contador-elemento span{
font-size: 15px;
}

.contador-elemento p{
font-size: 30px;
margin: 0 4px;
line-height: 1;
}

footer{
position: absolute;
bottom: 20px;
background-color: rgba(128, 128, 128, 0.447);
padding: 0 10px;
border-radius: 10px;
font-style: italic;
}