@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
font-size: 25px;
}

html{
font-size: 62.5%;
scroll-behavior: smooth;
}

body{
background-color: rgb(243, 197, 197);
}
.golden-intro{
height: 35rem;
width: 35rem;
}
.intro-conteudo{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}

.main-content{
max-width: 100rem;
margin: 0 , auto;
padding: 8rem 3rem;
}

.intro-content{
width: 70%;
display: flex;
flex-flow: column wrap;
justify-content: center;
padding: 0 3rem;
}

.intro-content h1{
text-align: center;
font-size: 5rem;
padding: 2rem;
}

.intro-content p{
text-align: justify;

}

/* .intro-conteudo div {
width: 700px;
display: flex;
align-items: center;
flex-direction: column;
padding: 40px;
margin-top: 30px;
align-items: center;
}
.intro-conteudo div p {
margin-top: 30px;
} */
.principal-conteudo{
display: flex;
background-color: #f0f8ff;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}
.curiosidades-conteudo{
max-width: 100rem;
margin: 0 , auto;
padding: 8rem 3rem;
}

.principal-conteudo div p{
font-size: 13px;
padding: 20px;
}
.curiosidades-conteudo{
display: flex;
}
.img ul li{
display: inline-block;
}