@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
font-size: 25px;
}

html{
font-size: 62.5%;
scroll-behavior: smooth;
}

body{
background-color: rgb(243, 197, 197);
}
.golden-intro{
height: 35rem;
width: 35rem;
}
.intro-conteudo{
display: flex;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;
}

.main-content{
max-width: 100rem;
margin: 0 , auto;
padding: 8rem 3rem;
}

.intro-content{
width: 70%;
display: flex;
flex-flow: column wrap;
justify-content: center;
padding: 0 3rem;
}

.intro-content h1{
text-align: center;
font-size: 5rem;
padding: 2rem;
}

.intro-content p{
text-align: justify;

}


/* Curiosidades */


.principal-conteudo{
display: flex;
background-color: #f0f8ff;
justify-content: center;
align-items: center;
width: 100vw;
height: 100vh;

}
.tam{
font-size: 12px;
text-align: justify;
padding-top: 25px;
}
.content{
width: 300px;
display: flex;
flex-direction: column;
}
.conteudo-do-main{
width: 100%;
}
.main-galeria {
display: flex;
}
.main-galeria div {
padding: 0 3rem;
}
.main-content div h1{
text-align: center;
font-size: 3rem;
padding: 2rem;
}

/* Galeria */

.galeria-conteudo{
display: flex;
justify-content: center;
align-items: center;
}

.conteudo-da-galeria{
width: 100%;
}

.galeria-fotos{
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 4rem;
padding-top: 50px;
}
.resolu{
height: 35rem;
}

/* Barra Final */

.fim{
height: 10%;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
background-color: aliceblue;
}
