@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #778899;

}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 40%;
    text-align: center;
}

.formulario {
    background-color: blue;
    height: 100%;
    width: 50%;
    border-radius: 20px 0px 0px 20px;
}

.resultado {
    background-color: purple;
    height: 100%;
    width: 50%;
    border-radius: 0px 20px 20px 0px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario-conteudo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    
}

.style{
 border-radius: 10px;
}

.formulario-conteudo h1{
padding-top: 5%;
font-size: 20px;
}

.formulario h1{
padding-top: 30px;
font-size: 20px;

}

.formulario div{
display: flex;
flex-direction: column;
padding: 5px;
}

.formulario-conteudo label{
float: right;
}
button{
    background: #0066A2;
    color: white;
    border-color: #0066A2;
    height: 30px;
    width: 80px;
    border-radius: 10px;
}

.resultado h1{
padding-top: ;
}