@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

html{
font-size: 62.5%;
}

body{
width: 100vw;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.conteiner{
display: flex;
width: 55rem;
height: 40rem;
border-radius: 10px;

}
.conteudo-geral{
width: 92%;
height: 100%;
background-color: rgb(226, 226, 250);
border-radius: 0 10px 10px 0;
display: flex;
flex-direction: column;
justify-content: center;
}
.cont-tudo{
padding: 0 0 0 4rem;
}
.barra-azul{
width: 8%;
height: 100%;
background-color: rgb(67, 67, 177);
border-radius: 10px 0 0 10px;
}
span{
font-size: 2rem;
width: 100%;
}
#cep{
width: 80%;
height: 3.5rem;
border-radius: 1rem;
}
.color{
margin-top: 1rem;
width: 80%;
background-color: rgba(186, 185, 185, 0.537);
border-radius: 10px;
}
button{
height: 4rem;
width: 4rem;
background-color: rgb(67, 67, 177);
border: none;
border-radius: 50%;
}
.botao{
width: 80%;
margin-top: 3rem;
display: flex;
justify-content: center;
align-items: center;
}